<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="CreditosView.Properties.Settings.DbFbpolConnectionString"
   connectionString="Data Source=DESKTOP-VQ0I0E0\SQLEXPRESS;Initial Catalog=DbFbpol;Persist Security Info=True;User ID=sa;Password=."
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DataSource" value="DESKTOP-VQ0I0E0\SQLEXPRESS"/>
		<add key="InitialCatalog" value="DbFbpol"/>
		<add key="UserId" value="sa"/>
		<add key="Password" value="."/>
	</appSettings>
</configuration>